@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import "../cs/font/fontawesome.scss";
@import "../cs/font/brands.scss";

body {
    //margin: 5vh;
    padding: 0vh;
    font-family: 'Open Sans', sans-serif;
    background-image: url("../img/diving.png");
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    //justify-content: space-evenly;
    align-items: center;

    #container-1 {
        padding: 5vh;
        width: 100%;
        box-sizing: border-box;
        display: flex;
        //height: 90vh;
        flex-direction: column;
        
        #contacts {
            //margin: 10px;
            background-color: #FFF;
            border-radius: 20px;
            box-shadow: 10px 10px 23px -12px rgba(0,0,0,0.75);
            /*margin: 20px;
            padding: 20px;*/
            margin: 5vh;
            display: flex;
            justify-content: space-around;
            height: 100%;

            #content {
                display: flex;
                flex-direction: column;
                margin: 6.7vh;
                //padding: 20px;
                box-sizing: border-box;
                /*width: fit-content;
                height: fit-content;*/

                p {
                    margin: 4px;
                    font-size: 24px;
                }

                h2 {
                    margin-top: 0;
                }
            }
        }

        #socials {
            //margin: 10px;
            //padding: 20px;
            margin: 5vh;
            background-color: #FFF;
            border-radius: 20px;
            box-shadow: 10px 10px 23px -12px rgba(0,0,0,0.75);

            .fab {
                color:black;
                font-size: 64px;
                //padding-left: 16vh;
                //align-items: center;
                /*display: flex;
                flex-flow: row wrap;*/
            }

            h2 {
                padding-left: 4vh;
            }
        }
    }

    #container-2 {
        //margin: 5vh;
        width: 100%;
        //margin: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;

        #contact {
            //padding-top: 20vh;
            width: 79%;
            margin: 5vh;
            margin-top: 8vh;
            background-color: #FFF;
            font-size: 24px;
            //padding: 16px;
            border-radius: 20px;
            //margin: 20px;
            padding-left: 2vh;
        }

        #map {
            padding: 5vh;
            padding-left: 10vh;
            //padding-bottom: 10vh;
            width: 100%;
            box-sizing: border-box;
            border-radius: 20px;
            //margin: 20px;

            iframe {
                border-radius: 20px;
                width: 95%;
            }
        }
    }
}

@media(max-width: 960px) {
    body {
        display: flex;
        flex-direction: column;
        background-color: #003898;
        background-image: none;
        justify-content: center;
        height: auto;
        text-align: center;

        #container-1 {
            //padding: 5vh;
            width: 100%;
            box-sizing: border-box;
            display: flex;
            //height: 90vh;
            flex-direction: column;
            justify-content: center;
            
            #contacts {
                //margin: 10px;
                background-color: #FFF;
                border-radius: 20px;
                box-shadow: 10px 10px 23px -12px rgba(0,0,0,0.75);
                /*margin: 20px;
                padding: 20px;*/
                //margin: 5vh;
                display: flex;
                flex-direction: column;
                //justify-content: space-around;
                //height: 100%;
    
                #content {
                    display: flex;
                    flex-direction: column;
                    //margin: 6.7vh;
                    //padding: 20px;
                    box-sizing: border-box;
                    /*width: fit-content;
                    height: fit-content;*/
    
                    p {
                        margin: 4px;
                        font-size: 24px;
                    }
    
                    h2 {
                        margin-top: 0;
                    }
                }
            }
        }
    }
}